@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
position: relative;
}
*{
    box-sizing:border-box;
    padding: 0;
}
body{
    overflow-x:hidden ;
   
    
}
input[type="date"]::-webkit-datetime-edit{
    color: gray;
}
input:focus{
    outline: 0;
}

.hide-scrollbar::-webkit-scrollbar{
    display: none;
}
.gridLayout{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:max-content;
    
   
    
}
.gridLayout  div:nth-of-type(3) {
   grid-row: 2/ 3;
   grid-column: 1/2;
}
.gridLayout img:nth-of-type(2) {
    grid-row: 1/2;
    grid-column: 1/2;
}