@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
position: relative;
}
*{
    box-sizing:border-box;
    padding: 0;
}
body{
    overflow-x:hidden ;
   
    
}
input[type="date"]::-webkit-datetime-edit{
    color: gray;
}
input:focus{
    outline: 0;
}

.hide-scrollbar::-webkit-scrollbar{
    display: none;
}
